
/*PSEUDO ELEMENTOS*/

*/ {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: blueviolet;
    font-size: 30px;
}

a::before {
    content: "🎮";
}

a::after {
    content: "🎮";
}